<!DOCTYPE html>
<html>
<head>
  <title>CenterClick Condominios</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= nav_bar brand: "CenterClick Condominios", responsive: true, inverse: true do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_item "Condominios", condominios_path %>
        <%= menu_item "Blocos", blocos_path %>
        <%= menu_item "Torres", torres_path %>
        <%= menu_item "Unidades", unidades_path %>
        <%= menu_item "Pessoas", pessoas_path %>
    <% end %>

<% end %>
  <div class="container-fluid">
    <%= yield %>
    <div class="text-center"><b>Versão:</b> <%= show_version %> - <%= show_version_date %></div>
  </div>
</body>
</html>
