<p id="notice"><%= notice %></p>

<h1>Listing Blocos</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Sigla</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blocos.each do |bloco| %>
      <tr>
        <td><%= bloco.descricao %></td>
        <td><%= bloco.sigla %></td>
        <td><%= link_to 'Show', bloco %></td>
        <td><%= link_to 'Edit', edit_bloco_path(bloco) %></td>
        <td><%= link_to 'Destroy', bloco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bloco', new_bloco_path %>
