<%- model_class = Bloco -%>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
  </div>
  <div class="panel-body">
    <%= search_form_for @q do |f| %>
      <%= f.label 'Consultar' %>
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="input-group">
            <%= f.search_field :descricao_cont, class: "form-control" %>
            <spam class="input-group-btn">
              <%= f.submit 'Buscar', class: "btn btn-default" %>
            </spam>
          </div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <%= link_to t('.new', :default => t("helpers.links.new")),
            new_bloco_path,
            :class => 'btn btn-primary pull-right' %>
        </div>
      </div>
    <% end %>
    </br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:descricao) %></th>
          <th><%= model_class.human_attribute_name(:sigla) %></th>
          <th><%= model_class.human_attribute_name(:condominio_id) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th colspan=4 style="text-align: center;"><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @blocos.each do |bloco| %>
          <tr>
            <td><%= link_to bloco.id, bloco_path(bloco) %></td>
            <td><%= bloco.descricao %></td>
            <td><%= bloco.sigla %></td>
            <td><%= bloco.condominio.nome %></td>
            <td><%=l bloco.created_at, :format => :short %></td>
            <td style="text-align: center;">
              <%= link_to '', bloco_path(bloco), :class => 'glyphicon glyphicon-search' %>
            </td>
            <td style="text-align: center;">
              <%= link_to '', edit_bloco_path(bloco), :class => 'glyphicon glyphicon-pencil' %>
            </td>
            <td style="text-align: center;">
              <%= link_to '', bloco_path(bloco),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'glyphicon glyphicon-trash' %>
            </td>
            <td style="text-align: center;">
              <%= link_to '', new_torre_path, :class => 'glyphicon glyphicon-plus' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @condominios, :previous_label => t("Anterior"), :next_label => t("Próximo"), renderer: BootstrapPagination::Rails %>
  </div>
</div>
