<%- model_class = Bloco -%>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%=t '.title', :default => model_class.model_name.human.titleize %></h3>
  </div>
  <div class="panel-body">

    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:condominio_id) %>:</strong></dt>
      <dd><%= @bloco.condominio.nome %></dd>
      <dt><strong><%= model_class.human_attribute_name(:descricao) %>:</strong></dt>
      <dd><%= @bloco.descricao %></dd>
      <dt><strong><%= model_class.human_attribute_name(:sigla) %>:</strong></dt>
      <dd><%= @bloco.sigla %></dd>
    </dl>

    <%= link_to t('.back', :default => t("helpers.links.back")),
                  blocos_path, :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_bloco_path(@bloco), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  bloco_path(@bloco),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
  </div>
</div>